<h1>New Recipe!</h1>

<div class="form">
  <%= form_for @recipe do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", required: "true" %>
    <%= f.label :instructions %>
    <%= f.text_area :instructions, class: "form-control", :rows=>10, :cols=>60 %>
    <%= f.submit class: "submit" %>
  <% end %>
</div>
<div class="links">
  <p><%= link_to "Return to Recipes", recipes_path %></p>
</div>