<h1><%= @recipe.title %></h1>

<h4>Ingredients:</h4>
<% if @recipe.ingredients.any? %>
  <% @recipe.ingredients.each do |ingredient| %>
    <ul>
      <li><%= link_to ingredient.name, recipe_ingredient_path(@recipe, ingredient)%></li>
    </ul>
  <% end %>
<% else %>
  <p>No ingredients have been added to this recipe yet.</p>
<% end %>

<h4>Tags:</h4>
<% if @recipe.tags.any? %>
  <% @recipe.tags.each do |tag| %>
    <ul>
      <li><%= link_to tag.category, recipe_tag_path(@recipe, tag)%></li>
    </ul>
  <% end %>
<% else %>
  <p>No tags have been added to this recipe yet.</p>
<% end %>

<h4>Instructions:</h4>
<% if @recipe %>
  <p><%= @recipe.instructions %></p>
<% else %>
  <p>Instructions have yet to be added to this recipe.</p>
<% end %>

<h4>Add an Ingredient:</h4>

<div class="form">
  <%= form_for @recipe do |f| %>
    <%= f.label "Ingredients" %>
    <%= f.collection_select :ingredient_ids, Ingredient.all.sort_by { |ingredient| ingredient[:name] }, :id, :name %>
    <%= f.submit class: "submit" %>
  <% end %>
</div>

<h4>Add a Tag:</h4>

<div class="form">
  <%= form_for @recipe do |f| %>
    <%= f.label "Tags" %>
    <%= f.collection_select :tag_ids, Tag.all.sort_by { |tag| tag[:category] }, :id, :category %>
    <%= f.submit class: "submit" %>
  <% end %>
</div>

<p><%= link_to "Create New Ingredient", ingredients_path %></p>
<p><%= link_to "Edit", edit_recipe_path(@recipe) %></p>
<p>
  <%= link_to "Delete Recipe", recipe_path(@recipe), :data => { :confirm => "Are you sure?", :method => "delete" } %></p>

<p><%= link_to "Return to Recipes", recipes_path %></p>

